<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Admin Ticketing</div>
  <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><i class="fa-solid fa-house"></i> Dashboard </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><i class="fa-solid fa-ticket"></i> Ticket </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"> <i class="fa-solid fa-file"></i> File Maintenance </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><i class="fa-duotone fa-book"></i> Activity Logs </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><i class="fa-solid fa-lock-keyhole"></i> Login History </a>
    
  </div>
</div>


