<!doctype html>
{% load static %}


<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

     <!-- Bootstrap CSS SECTION -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Bootstrap FOR SIDE BAR SECTION -->
    <link href="{% static 'customized_css/css/styles.css' %}" rel="stylesheet"/>


     <!-- JS For Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'customized_css/js/scripts.js' %}"></script>

<script>


$(document).ready(function() {


  $.ajax({
    type: "GET",
    url: 'https://restcountries.com/v3.1/all',
    dataType:"json",
    
    success: function(response){
        console.log(response);
    }
  });
});

</script>
    <title>
      
  
    </title>
  </head>




  <body>

      <div class="d-flex" id="wrapper">
      
      {% include 'partials/_sidebar.html' %}
     

      <div id="page-content-wrapper">
       
        {% include 'partials/_navbar.html' %}

        <div class="container-fluid">

          {% block content %}

          {% endblock %}

        </div>
        
      </div>
      </div>

  </body>
</html>